*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/gradlew.bat
/gradlew
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/compiler.xml
